    <!-- Modal -->
    <%= render "modal-demo" %>
    <div class="container">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-7 col-lg-10">
          <div class="cards-demo">
            <a type="button" id="buttonModal" class="btn btn-demo" data-toggle="modal" data-target="#demoModal">
              <div class="circle">
                <%= image_tag "icons/add.svg" %>
              </div>
            </a>
            <% if @demos.any? %>
              <% @demos.each do |demo| %>
                <div class="card-demo-container">
                  <div class="card-demo">
                    <div class="card-demo-top dropdown">
                      <a class="card-demo-actions dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v small"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Delete</a>
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Edit Pitch</a>
                        <a class="dropdown-item" href="#">Edit Personas</a>
                        <a class="dropdown-item" href="#">Edit Journey</a>
                        <a class="dropdown-item" href="#">Link 🔗</a>
                      </div>
                    </div>
                    <%= link_to demo_path(demo), class: "card-demo-bottom-wrapper" do %>
                      <div class="card-demo-bottom d-flex flex-column justify-content-end">
                        <% if demo.pitches.any? %>
                          <h6><%= demo.pitches.first.pain %></h6>
                        <% end %>
                        <% if demo.personas.any? %>
                          <h6><%= demo.personas.first.name %></h6>
                        <% end %>
                        <h3><%= demo.name %></h3>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
