    <!-- Modal -->
    <%= render "modal-demo" %>
      <div class="row mt-5 py-4 d-flex justify-content-center">
        <div class="col-7 col-lg-10">
          <div class="cards-demo">
             <a type="button" id="buttonModal" class="btn btn-demo" data-toggle="modal" data-target="#demoModal">
              <div class="circle" data-toggle="tooltip" data-placement="bottom" title="Add a new demo">
                <%= image_tag "icons/add.svg" %>
              </div>
            </a>
            <% if @demos.any? %>
              <% @demos.each do |demo| %>
                <div class="card-demo-container">
                  <div class="card-demo">
                    <div class="card-demo-top dropdown">
                      <a class="card-demo-actions dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v small"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <%= link_to demo_path(demo), class: "dropdown-item",
                          method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                          Delete
                        <% end %>
                        <%= link_to demo_path(demo), class: "dropdown-item" do %>
                          View
                        <% end %>
                        <% if demo.pitches.any? %>
                          <%= link_to edit_demo_pitch_path(demo, demo.pitches.first), class: "dropdown-item" do %>
                            Edit Pitch
                          <% end %>
                        <% else %>
                          <%= link_to new_demo_pitch_path(demo), class: "dropdown-item" do %>
                            Start Building
                          <% end %>
                        <% end %>
                        <% if demo.pitches.any? %>
                          <% if demo.personas.any? %>
                            <% demo.personas.each do |persona| %>
                              <%= link_to edit_demo_persona_path(demo, persona.id), class: "dropdown-item" do %>
                                Edit <%= persona.name %>
                              <% end %>
                            <% end %>
                            <% if demo.personas.count <= 1 %>
                              <%= link_to new_demo_persona_path(demo), class: "dropdown-item" do %>
                                Add Persona
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= link_to new_demo_persona_path(demo), class: "dropdown-item" do %>
                              Add Persona
                            <% end %>
                          <% end %>
                        <% end %>
                        <a class="dropdown-item inactive" href="#">Edit Journey</a>
                        <a class="dropdown-item inactive" href="#">Link 🔗</a>
                      </div>
                    </div>
                    <%= link_to demo_path(demo), class: "card-demo-bottom-wrapper" do %>
                      <div class="card-demo-bottom d-flex flex-column justify-content-end">
                        <% if demo.pitches.any? %>
                          <h6><%= demo.pitches.first.pain %></h6>
                        <% end %>
                        <% if demo.personas.any? %>
                          <% demo.personas.each do |persona| %>
                            <h6><i class="far fa-user"></i> <%= persona.name %></h6>
                            <% end %>
                        <% end %>
                        <h3><%= demo.name %></h3>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
