    <div class="row mt-5">
      <div class="col-9">
        <div class="mb-2">
          <h1><%= @demo.name %></h1>
        </div>
        <div class="demo-details">
          <p><i class="far fa-user"></i> <%= current_user.first_name %> <%= current_user.last_name %></p>
          <p><i class="fas fa-calendar-alt"></i> <%= @demo.created_at %></p>
        </div>
      </div>
      <div class="col-3 mt-5">
        <div id="pitch">
          <h4>Pitch info here:</h4>
          <% if @demo.pitches.blank? %>
            No pitch yet,
            <%= link_to 'create new pitch', new_demo_pitch_path(@demo) %>.
          <% else %>
            <% @demo.pitches.each do |pitch| %>
              <h5>Pain:</h5>
              <p><%= pitch.pain %></p>
              <h5>Target:</h5>
              <p><%= pitch.target %></p>
              <h5>Solution:</h5>
              <p><%= pitch.solution %></p>
            <% end %>
          <% end %>
        </div>
        <div id="personae">
          <h4>Persona info here:</h4>
          <% if @demo.personas.blank? %>
              No personas yet,
              <%= link_to 'create a new persona', new_demo_persona_path(@demo) %>.
            <% else %>
              <% @demo.personas.each do |persona| %>
                <h5>Name:</h5>
                <p><%= persona.name %></p>
                <h5>Age:</h5>
                <p><%= persona.age %></p>
                <h5>Bio:</h5>
                <p><%= persona.bio %></p>
                <h5>Nationality:</h5>
                <p><%= persona.nationality %></p>
                <h5>Location:</h5>
                <p><%= persona.location %></p>
                <h5>Job:</h5>
                <p><%= persona.job %></p>
                <h5>Relationship status:</h5>
                <p><%= persona.relationship_status %></p>
                <h5>Income:</h5>
                <p><%= persona.income %></p>
              <% end %>
              <%= link_to 'add new persona', new_demo_persona_path(@demo) %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <%= link_to 'Take me to my Dashboard', dashboard_path %>
        <div class="m-4 text-center">
          <button type="button" class="btn">
            <%= link_to "Delete #{@demo.name}",
            demo_path(@demo),
            class: "btn btn-ghost btn-sm",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </button>
        </div>
      </div>
    </div>
