<%= render 'shared/side_menu' %>
<%= render 'shared/form_header' %>
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-12 col-xs-10 col-lg-7">

        <%= simple_form_for [@demo, @pitch]  do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :pain,
                      as: :text,
                      label: "Pain",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>

          <%= f.input :target,
                      as: :text,
                      label: "Target",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>


          <%= f.input :solution,
                      as: :text,
                      label: "Solution",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>
        </div>
        <div class="form-actions d-flex">
          <%= link_to "Cancel", dashboard_path, :class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": 'Back to dashboard' %>
          <%= f.button :submit, "Save and Exit", class: 'btn btn-primary next-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": 'Save and go back to dashboard'  %>

          <% if @demo.personas.any? %>
            <% @demo.personas.each do |persona| %>
              <%= hidden_field_tag :persona_id, persona.id %>
              <%= f.button :submit, "Edit #{persona.name}", class: 'btn btn-primary next-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": "Edit #{persona.name}'s Profile" %>
            <% end %>
          <% end %>
          <% if @demo.personas.count < 2 %>
            <%= f.button :submit, "Add a New Persona", class: 'btn btn-primary next-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": 'Save and continue your path to sucess' %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div class="m-4 text-center">
      <button type="button" class="btn" data-controller="tooltip" data-placement="top" data-tippy-content="Delete this pitch" >
        <%= link_to "Delete pitch",
        demo_pitch_path(@demo.id, @pitch),
        class: "btn btn-ghost-white btn-sm",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      </button>
    </div>
  </div>
</div>
