<div class="row d-flex justify-content-center">
  <div class="header-form col-12">
    <h6><%= @demo.name %></h6>
    <h1 class="mb-5">Update your <%= controller_name %></h1>
    <h6 class="info">Please fill in the form to update your <%= controller_name %></h6>
  </div>
</div>
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-12 col-xs-10 col-lg-7">

        <%= simple_form_for [@demo, @pitch]  do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :pain,
                      as: :text,
                      label: "Pain",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>

          <%= f.input :target,
                      as: :text,
                      label: "Target",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>


          <%= f.input :solution,
                      as: :text,
                      label: "Solution",
                      required: true,
                      autofocus: true,
                      :input_html => { :rows => 1}
                      %>
        </div>
        <div class="form-actions d-flex">
          <%= link_to "Back", dashboard_path, {:class=>'btn btn-primary'} %>
          <%= f.button :submit, "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
