<%= render "modal-pitch" %>
<%= render 'shared/side_menu' %>
<%= render 'shared/form_header' %>
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 col-xs-10 col-lg-7">
      <%= simple_form_for [@demo, @pitch] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :pain,
                    as: :text,
                    label: "Pain",
                    required: true,
                    autofocus: true,
                    placeholder: "Taxis suck.",
                    :input_html => { :rows => 1}
                    %>
        <%= f.input :target,
                    as: :text,
                    label: "Target",
                    required: true,
                    autofocus: true,
                    placeholder: "People getting places.",
                    :input_html => { :rows => 1}
                    %>
        <%= f.input :solution,
                      as: :text,
                      label: "Solution",
                      required: true,
                      autofocus: true,
                      placeholder: "Private car driving service.",
                      :input_html => { :rows => 1}
                      %>
        </div>
        <div class="form-actions d-flex">
          <%= link_to "Back", :back, :class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": 'Back to dashboard' %>
          <%= f.button :submit, "Save and Continue", class: 'btn btn-primary next-btn', "data-controller": 'tooltip', "data-tippy-content": 'Create your pitch' %>
        </div>
      <% end %>
    </div>
  </div>

<button type="button" id ="hidden-button" class="d-none btn btn-primary" data-toggle="modal" data-target="#onboarding">
  Launch demo modal
</button>
