<%= simple_form_for [@demo, @userjourney] do |f| %>
  <%= f.input :name %>
  <%= f.hidden_field :persona_id, value: @persona.id %>
  <h3>Steps</h3>
  <div id='steps'>
    <%= f.simple_fields_for :steps do |step| %>
      <%= render 'step_fields', :f => step %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add step', f, :steps %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>
