<%= simple_form_for [@demo, @userjourney] do |f| %>
  <%= f.input :name %>
  <% if action_name == "new" %>
    <%= f.hidden_field :persona_id, value: @persona.id %>
  <% end %>
  <h3>Steps</h3>
  <div id='steps'>
    <%= f.simple_fields_for :steps do |step| %>
      <%= render 'step_fields', :f => step %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association f, :steps , class: "btn btn-demo d-flex align-items-end" do %>
        <div class="circle circle-sm" data-toggle="tooltip" data-placement="bottom" title="Add a new step">
          <%= image_tag "icons/add.svg" %>
        </div>
      <% end %>
    </div>
  </div>
    <% if params[:from] == "dashboard" %>
      <%= link_to "Back", dashboard_path, {:class=>'btn btn-primary back-btn'} %>
    <% else %>
      <%#= link_to "Back", edit_demo_persona_path(@demo, @persona), {:class=>'btn btn-primary back-btn'} %>
    <% end %>
    <%= link_to "Back", :back, {:class=>'btn btn-primary'} %>
  <%= f.submit 'Generate user flow', class: 'btn btn-primary' %>
  <%#= f.button :submit, "Next", class: 'btn btn-primary' %>
<% end %>
