<%= render 'shared/side_menu' %>
<div class="row d-flex justify-content-center">
  <div class="header-form col-12">
    <!-- <h6><%#= @demo.name %></h6> -->

    <h1 class="mb-5">
      This is <%= @userjourney.persona.name %> User Journey</h1>
    <!--<h6 class="info">Please fill in the form to update your <%= controller_name %></h6>-->
  </div>
</div>

<div class="row d-flex justify-content-center mt-5">
  <div class="col-12">
    <div class="steps-container">
      <% i = 0 %>
      <% @userjourney.steps.each do |step| %>
        <div class="step step-<%= i += 1 %>">
          <div class="standpoint">
            <!-- <h6><%#= step.standpoint %></h6>
            <small><%#= step.viewpoint %></small> -->
            <div class="backdrop-component" data-standpoint="<%= step.standpoint %>">
              <%= image_tag "ui-components/backdrop.svg" %>
            </div>
            <div class="component-container">
              <% viewpoint_words = step.viewpoint.split %>
              <% viewpoint_words.each do |word| %>
                <% if @viewpoint_dictionary[:grids].include? word%>
                  <div class="grids-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="page-header"><%= image_tag "ui-components/headline-5.svg"%></div>
                    <div class="grids-container">
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                      <div class="grid-item"><%= image_tag "ui-components/card-item.svg" %></div>
                    </div>
                  </div>
                <% end %>

                <% if @viewpoint_dictionary[:details].include? word %>
                  <div class="details-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="page-header"><%= image_tag "ui-components/headline-5.svg"%></div>
                    <div class="details-container">
                      <div class="detail-item"><%= image_tag "ui-components/image-single.svg"%></div>
                      <div class="detail-item"><%= image_tag "ui-components/body-multiline.svg"%></div>
                      <div class="detail-item"><%= image_tag "ui-components/body-multiline.svg"%></div>
                    </div>
                  </div>
                <% end %>

                <% if @viewpoint_dictionary[:lists].include? word %>
                  <div class="lists-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="lists-container">
                      <div class="list-item"><%= image_tag "ui-components/headline-6_img.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/list-item.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/button.svg"%></div>
                    </div>
                  </div>
                <% end %>
                <% if @viewpoint_dictionary[:reviews].include? word %>
                  <div class="lists-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="lists-container">
                      <div class="list-item"><%= image_tag "ui-components/headline-6_img.svg"%></div>
                      <div class="list-item"><%= image_tag "ui-components/review.svg"%></div>
                      <div class="list-item"><%= image_tag "ui-components/review.svg"%></div>
                      <div class="list-item"><%= image_tag "ui-components/review.svg"%></div>
                      <div class="list-item"><%= image_tag "ui-components/review.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/label-l.svg"%></div>
                    </div>
                  </div>
                <% end %>
                <% if @viewpoint_dictionary[:recommendations].include? word %>
                  <div class="lists-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="lists-container">
                      <div class="list-item button"><%= image_tag "ui-components/headline-6_img.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/recommendation.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/recommendation.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/recommendation.svg"%></div>
                      <div class="list-item button"><%= image_tag "ui-components/recommendation.svg"%></div>
                    </div>
                  </div>
                <% end %>
                <% if @viewpoint_dictionary[:payments].include? word %>
                  <div class="payments-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="page-header"><%= image_tag "ui-components/headline-5.svg"%></div>
                    <div class="payments-container">
                      <div class="payment-item"><%= image_tag "ui-components/basket-card.svg"%></div>
                      <div class="payment-item p-1"><%= image_tag "ui-components/visa-card-2.svg"%></div>
                      <div class="payment-item button px-1"><%= image_tag "ui-components/label-l.svg"%></div>
                      <div class="payment-wrapper">
                        <div class="payment-item button px-1"><%= image_tag "ui-components/label-m.svg"%></div>
                        <div class="payment-item button px-1 "><%= image_tag "ui-components/label-s.svg"%></div>
                      </div>
                      <div class="payment-item button px-1 d-flex justify-content-center"><%= image_tag "ui-components/button-secondary.svg"%></div>
                    </div>
                  </div>
                <% end %>
                <% if @viewpoint_dictionary[:notification].include? word %>
                  <div class="notifications-component" data-viewpoint="<%= step.viewpoint %>">
                    <div class="notifications-container">
                      <div class="notification-item"><%= image_tag "ui-components/notification.svg"%></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="actionpoint">
            <p><%= step.standpoint %><br><%= step.actionpoint %> <i class="fas fa-arrow-right"></i> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-5">
  <%= link_to edit_demo_userjourney_path(@demo, @userjourney.id, from: @from), class: "btn btn-primary" do %>
    Edit <%= @userjourney.persona.name %>'s <%= @userjourney.name %> Journey
  <% end %>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div class="m-4 text-center">
      <button type="button" class="btn" data-controller="tooltip" data-placement="top" data-tippy-content="Delete this journey" >
        <%= link_to "Delete #{@userjourney.name} Journey",
        demo_userjourney_path(@demo, @userjourney),
        class: "btn btn-ghost-white btn-sm",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      </button>
    </div>
  </div>
</div>
