<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <h2 class="mb-4">New persona</h2>

      <%= simple_form_for [@demo, @persona] do |f| %>
        <div class="form-inputs">
            <%= f.input :name, placeholder: 'Mathias' %>
            <%= f.input :age, placeholder: '24' %>
            <%= f.input :bio, placeholder: 'Tell more about Mathias' %>
            <%= f.input :nationality, placeholder: 'Portuguese' %>
            <%= f.input :location, placeholder: 'The Moon' %>
            <%= f.input :job, placeholder: 'Dreamer (full-time)' %>
            <%= f.input :job, placeholder: "It's complicated" %>
            <%= f.input :income, placeholder: '50.000€' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Create persona", class: 'btn btn-primary w-100 mb-2' %>
          <%= link_to "Back", :back, {:class=>'btn btn-outline-primary w-100 mb-2'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
