<%= render 'shared/side_menu' %>
<%= render 'shared/form_header' %>
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 col-xs-10 col-lg-7">

    <%= simple_form_for [@demo, @persona] do |f| %>
      <div class="form-inputs">
          <%= f.input :name, placeholder: 'Robin Scherbatsky' %>
          <%= f.input :age, placeholder: '28' %>
          <%= f.input :bio, placeholder: 'Tell more about Robin' %>
          <%= f.input :nationality, placeholder: 'Canadian' %>
          <%= f.input :location, placeholder: 'New York, US' %>
          <%= f.input :job, placeholder: 'Journalist (full-time)' %>
          <%= f.input :relationship_status, placeholder: "It's complicated" %>
          <%= f.input :income, placeholder: '$80.000' %>
          <%= hidden_field_tag 'pitch', @pitch.id %>
      </div>
      <div class="form-actions d-flex">
        <!-- CANCEL : WORKING -->
        <%= link_to "Cancel", dashboard_path, {:class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-tippy-content": 'Back to dashboard'} %>
        <!-- SAVE & EXIT : NOT WORKING. SEE CONTROLLER -->
        <%= f.button :submit, "Save", class: 'btn btn-primary', "data-controller": 'tooltip', "data-tippy-content": 'Save and go to dashboard' %>
        <!-- ADD NEW PERSONA : COUNT IS WORKING || BUT POST IS NOT WORKING. SEE CONTROLLER -->
        <% if @demo.personas.count < 2 %>
          <button type="button" class="btn" data-controller="tooltip" data-tippy-content="Save and add a new persona" >
            <%= link_to "Add", dashboard_path, class: "btn btn-primary", method: :submit %>
          </button>
        <% end %>
        <!-- NEXT : WORKING -->
        <%= f.button :submit, "Next", class: 'btn btn-primary', "data-controller": 'tooltip', "data-tippy-content": 'Start a user journey' %>
      </div>

<!-- <div class="form-actions d-flex">
        <%# if params[:from] == "dashboard" %>
          <%#= link_to "Back", dashboard_path, {:class=>'btn btn-primary back-btn'} %>
        <%# else %>
          <%#= link_to "Back", edit_demo_pitch_path(@demo, @pitch), {:class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-placement": "bottom", "data-tippy-content": 'Back to demo info'} %>
        <%# end %>
        <%#= f.button :submit, "Save and Continue", class: 'btn btn-primary', "data-controller": 'tooltip', "data-tippy-content": 'Create your persona' %>
      </div> -->
    <% end %>
  </div>
</div>


