<%= render 'shared/side_menu' %>
<%= render 'shared/form_header' %>
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 col-xs-10 col-lg-7">

    <%= simple_form_for [@demo, @persona] do |f| %>
      <div class="form-inputs">
          <%= f.input :name, placeholder: 'Robin Scherbatsky' %>
          <%= f.input :age, placeholder: '28' %>
          <%= f.input :bio, placeholder: 'Tell more about Robin' %>
          <%= f.input :nationality, placeholder: 'Canadian' %>
          <%= f.input :location, placeholder: 'New York, US' %>
          <%= f.input :job, placeholder: 'Journalist (full-time)' %>
          <%= f.input :relationship_status, placeholder: "It's complicated" %>
          <%= f.input :income, placeholder: '$80.000' %>
          <%= hidden_field_tag 'pitch', @pitch.id %>
      </div>


      <div class="form-actions d-flex">
        <!-- CANCEL : WORKING -->
        <%= link_to "Cancel", dashboard_path, {:class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-tippy-content": 'Back to dashboard'} %>
        <!-- SAVE & EXIT : NOT WORKING. SEE CONTROLLER -->
        <%= f.button :submit, "Save & Exit", class: 'btn btn-primary', "data-controller": 'tooltip', "data-tippy-content": 'Save and go to dashboard' %>
      </div>
      <div class="form-actions d-flex">
        <% if @demo.personas.count < 2 %>
            <%= link_to "Add a New Persona", dashboard_path, {:class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-tippy-content": 'Keep on building. Create your secondary segment'} %>
        <% end %>
        <!-- NEXT : WORKING -->
        <%= f.button :submit, "Start a Journey", class: 'btn btn-primary', "data-controller": 'tooltip', "data-tippy-content": 'Start a user journey for the persona you just created' %>
      </div>
      <div class="form-actions d-flex justify-content-center">
        <!-- ADD NEW PERSONA : COUNT IS WORKING || BUT POST IS NOT WORKING. SEE CONTROLLER -->
        <% if @demo.personas.count < 2 %>
          <button type="button" class="btn">
            <%= link_to dashboard_path, class: "btn btn-demo" do %>
              <div class="circle circle-sm" data-controller="tooltip" data-tippy-content="Save and add a new persona">
                <%= image_tag "icons/add.svg" %>
              </div>
            <% end %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


