<!DOCTYPE html>
<html>
  <head>
    <title>Pitcher.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel='shortcut icon' type='image/x-icon' href='https://icons-for-free.com/iconfiles/png/512/chat+chat+bubble+message+text+icon-1320166863061068764.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%# <%= render 'shared/preloader' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="main-container container">
      <%= yield %>
    </div>
    <% if controller_name == 'personas' %>
      <%= render 'shared/stepper' %>
    <% elsif controller_name == 'pitches' %>
      <%= render 'shared/stepper' %>
    <% elsif controller_name == 'userjourneys' && action_name == 'edit' || action_name == 'new' %>
      <%= render 'shared/stepper' %>
    <% elsif controller_name == 'userjourneys' && action_name == 'show' %>
      <%= render 'shared/stepper' %>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
